/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Bellefair&family=Cinzel:wght@400;700;900&family=Finger+Paint&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@-webkit-keyframes header-animation {
  from {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes header-animation {
  from {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

html {
  font-size: 16px;
  /* While em is relative to the font-size of its direct or nearest parent, rem is only relative to the html (root) font-size. 1 rem = 16px */
}

body {
  background-color: #dfd9d7;
}

/* HOME page */
.hero {
  height: 100vh;
  width: auto;
  background-color: black;
  color: white;
  font-size: 2.5rem;
  background-image: url(./images/Home-image.jpg);
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.logo {
  margin: 40px;
  font-family: "Cinzel", serif;
  font-size: 2.25rem;
  font-weight: 700;
  cursor: pointer;
}

.logo-white:hover {
  color: black;
}

.hero-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.hero-text {
  -webkit-animation: header-animation 1s ease-in-out 1.5s 1 normal forwards;
          animation: header-animation 1s ease-in-out 1.5s 1 normal forwards;
  opacity: 0;
  text-align: left;
  margin-left: 60%;
  margin-top: 13%;
  width: 30%;
  color: #dfd9d7;
  font-family: "Amiri", serif;
  font-weight: normal;
}

h1 {
  font-size: 4.3125rem;
  margin-bottom: 25px;
}

h2 {
  font-size: 2rem;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  list-style-type: none;
  width: 500px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1.875rem;
  margin: 40px;
}

ul.show {
  display: block;
}

li {
  text-decoration: none;
  font-family: 'Bellefair', serif;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

.a-white {
  color: white;
}

.a-black:hover {
  color: #f18c63;
}

.a-white:hover {
  color: black;
}

.hamburger {
  display: none;
}

.hamburger:focus {
  outline: 0;
}

footer {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #dfd9d7;
  width: 100%;
}

.brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.brand-youtube, .brand-facebook, .brand-email {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 2.25rem;
}

.brand-youtube:hover, .brand-facebook:hover, .brand-email:hover {
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.brand-youtube:hover {
  color: #c4302b;
}

.brand-facebook:hover {
  color: #3b5998;
}

.brand-email:hover {
  color: #666564;
}

.brands-and-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse wrap;
          flex-flow: row-reverse wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.copyright {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: 'Bellefair', serif;
  font-size: 1rem;
}

/* ABOUT page */
.logo-black:hover {
  color: #f18c63;
}

.hero-about {
  height: 100%;
  width: auto;
  background-color: black;
  color: white;
  font-size: 2.5rem;
  background-image: url(./images/pexels-ksenia-chernaya-5691697.jpg);
  background-color: white;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  padding-bottom: 20px;
}

.about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: auto;
  margin: 0px 300px 0px 300px;
}

.about-image {
  max-width: 100%;
  height: auto;
  margin: 0px 0px 30px 0px;
  padding: 0px 30px 0px 30px;
}

.about-text {
  line-height: 1.46875rem;
  text-align: justify;
  color: black;
}

.page-header-text {
  text-align: left;
  margin-bottom: 30px;
  font-family: "Bellefair", serif;
  font-size: 2.25rem;
  color: black;
}

.bio-text {
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-size: 1.1875rem;
}

.hero-media {
  height: 100vh;
  width: auto;
  background-color: white;
  color: black;
  font-size: 2.5rem;
  background-image: url(./images/pexels-ksenia-chernaya-5691697.jpg);
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  padding-bottom: 20px;
}

/* CONCERTS page */
.hero-concerts {
  height: 100%;
  width: auto;
  background-image: url(./images/About-image-2.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-color: black;
  color: white;
}

.concerts-section {
  padding-left: 40px;
  padding-right: 60px;
}

.upcoming-concerts-header {
  font-family: "Bellefair", serif;
  font-size: 2rem;
  color: white;
  text-align: right;
  margin-top: 50px;
}

.concerts-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: left;
}

.upcoming-concerts-text {
  font-family: "Times New Roman", Times, serif;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.1875rem;
  font-weight: bold;
  line-height: 1.52625rem;
  text-align: right;
}

.info-button {
  font-family: "Times New Roman", Times, serif;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 15px;
  padding: 10px;
  background-color: transparent;
  color: white;
  border: 3px solid #f18c63;
  cursor: pointer;
  width: 100%;
}

.info-button:hover {
  background-color: transparent;
  color: #f18c63;
  border: 3px solid white;
}

/* CONTACT page */
.hero-contact {
  height: 100%;
  width: auto;
  background-image: url(./images/Contact-image.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-color: black;
  color: white;
}

.contact-section {
  font-family: "Times New Roman", Times, serif;
  padding-left: 80px;
  padding-right: 80px;
}

.contact-area {
  font-size: 1.1875rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 12%;
}

.contact-header {
  margin-bottom: 40px;
  color: white;
}

input {
  margin: 15px 0px 30px 0px;
  width: 300px;
  display: block;
  /* Bring each text input onto a new line */
  padding: 10px 10px 0px 0px;
  border-bottom: 3px solid white;
  background-color: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  color: white;
  outline: none;
  cursor: pointer;
  font-weight: bold;
}

input:focus {
  border-bottom: 3px solid white;
  color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-transition: background-color 600000s 0s, color 600000s 0s;
  transition: background-color 600000s 0s, color 600000s 0s;
}

.input-field.input-field--material {
  position: relative;
  padding-bottom: 10px;
}

.input-field.input-field--material label {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 5;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  color: white;
  -webkit-transition: font-size 0.3s ease, -webkit-transform 0.3s ease;
  transition: font-size 0.3s ease, -webkit-transform 0.3s ease;
  transition: font-size 0.3s ease, transform 0.3s ease;
  transition: font-size 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
}

.input-field.input-field--material input {
  display: block;
  width: 90%;
  border-bottom: 3px solid white;
  border-radius: 0%;
}

.input-field.input-field--material input::-webkit-input-placeholder {
  opacity: 0;
}

.input-field.input-field--material input:-ms-input-placeholder {
  opacity: 0;
}

.input-field.input-field--material input::-ms-input-placeholder {
  opacity: 0;
}

.input-field.input-field--material input::placeholder {
  opacity: 0;
}

.input-field.input-field--material textarea::-webkit-input-placeholder {
  opacity: 0;
}

.input-field.input-field--material textarea:-ms-input-placeholder {
  opacity: 0;
}

.input-field.input-field--material textarea::-ms-input-placeholder {
  opacity: 0;
}

.input-field.input-field--material textarea::placeholder {
  opacity: 0;
}

.input-field.input-field--material input:focus {
  border-color: #f18c63;
}

.input-field.input-field--material textarea:focus {
  border-color: #f18c63;
}

.input-field.input-field--material input:focus + label,
.input-field.input-field--material input:not(:placeholder-shown) + label {
  font-size: 1rem;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  color: #f18c63;
}

.input-field.input-field--material textarea:focus + label,
.input-field.input-field--material textarea:not(:placeholder-shown) + label {
  font-size: 1rem;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  color: #f18c63;
}

textarea {
  width: 90%;
  height: 15%;
  resize: vertical;
  display: block;
  /* Bring each text input onto a new line */
  padding: 10px 10px 0px 0px;
  border-bottom: 3px solid white;
  background-color: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  color: white;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0;
}

textarea,
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  border-radius: 0;
}

textarea:focus {
  border-bottom: 3px solid white;
  color: white;
}

input, textarea {
  font-family: inherit;
  font-size: inherit;
}

.contact-button {
  font-family: "Times New Roman", Times, serif;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 15px;
  padding: 10px;
  background-color: transparent;
  color: white;
  border: 3px solid #f18c63;
  cursor: pointer;
  width: 50%;
}

.contact-button:hover {
  background-color: transparent;
  color: #f18c63;
  border: 3px solid white;
}

@media only screen and (max-device-width: 812px) {
  .hero {
    height: 100%;
    background-position: top center;
  }
  .logo {
    margin: 20px;
    font-size: 1.625rem;
  }
  .hero-area {
    height: 400px;
  }
  .hero-text {
    margin-top: 22%;
  }
  h1 {
    font-size: 1.4375rem;
    margin-bottom: 0px;
  }
  h2 {
    font-size: 1.125rem;
  }
  ul {
    display: none;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.375rem;
  }
  ul.show {
    display: block;
  }
  nav ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-left: 60%;
  }
  .centered-li {
    margin-left: 37%;
  }
  footer {
    margin: 30px 50px 30px 50px;
    width: auto;
  }
  .brands-and-copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .brands {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .copyright {
    font-size: 0.875rem;
    margin-top: 30px;
    text-align: center;
  }
  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 1.875rem;
    margin: 20px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .hamburger:hover {
    color: black;
  }
  .black {
    color: black;
  }
  .black:hover {
    color: #f18c63;
  }
  .about-section {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px 30px 0px 30px;
  }
  .about-image {
    max-width: 70%;
    padding: 0px;
  }
  .about-text {
    line-height: 1.46875rem;
    padding: 0px 50px 0px 50px;
  }
  .page-header-text {
    margin-top: 30px;
    font-size: 1.3125rem;
  }
  .bio-text {
    font-size: 0.875rem;
  }
  .hero-media {
    height: 100%;
  }
  #slider {
    display: none;
    visibility: hidden;
  }
  .hidden-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
    margin: 50px 0px;
  }
  iframe {
    width: 260px;
    height: 200px;
  }
  input[type=radio] {
    visibility: hidden;
    display: none;
  }
  .hero-concerts {
    height: 100%;
    background-position: 40% 50%;
  }
  .concerts-section {
    padding-right: 20px;
  }
  .upcoming-concerts-header {
    text-align: right;
    font-size: 1.3125rem;
  }
  .upcoming-concerts-text {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
  .hero-contact {
    background-position: 35% 10%;
  }
  .contact-section {
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .contact-area {
    padding-right: 0%;
  }
  label p {
    font-size: 0.875rem;
  }
  form {
    padding-left: 5%;
    width: 70%;
  }
  .contact-button {
    width: 70%;
  }
}

@media only screen and (max-width: 992px) and (min-width: 813px) {
  .hero {
    background-position: 70% 50%;
  }
  .hero-text {
    margin-top: 30%;
  }
  h1 {
    font-size: 2.375rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  .logo {
    margin: 20px;
    font-size: 1.875rem;
  }
  ul {
    display: none;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.375rem;
  }
  ul.show {
    display: block;
  }
  nav ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-left: 60%;
  }
  .centered-li {
    margin-left: 37%;
  }
  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 1.875rem;
    margin: 20px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .hamburger:hover {
    color: black;
  }
  .black {
    color: black;
  }
  .black:hover {
    color: #f18c63;
  }
  .about-section {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px 80px 0px 80px;
  }
  .black {
    color: black;
  }
  .black:hover {
    color: #f18c63;
  }
  .about-image {
    max-width: 70%;
    padding: 0px;
  }
  .about-text {
    padding: 0px 70px 0px 70px;
  }
  .page-header-text {
    margin-top: 30px;
    font-size: 1.5rem;
  }
  .bio-text {
    font-size: 1.125rem;
  }
  .hero-media {
    height: 100%;
  }
  #slider {
    display: none;
    visibility: hidden;
  }
  .hidden-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
    margin: 50px 0px;
  }
  iframe {
    width: 380px;
    height: 320px;
  }
  input[type=radio] {
    visibility: hidden;
    display: none;
  }
  .concerts-section {
    height: 100%;
    background-position: 25% 10%;
    padding-left: 20px;
    padding-right: 40px;
  }
  .upcoming-concerts-header {
    font-size: 1.5rem;
  }
  .upcoming-concerts-text {
    text-align: right;
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
  .contact-section {
    height: 100%;
  }
  .contact-area {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px;
  }
  form {
    padding-top: 40px;
  }
}

/* laptops - initial css */
@media only screen and (max-width: 1440px) and (min-width: 993px) {
  body {
    background-color: #dfd9d7;
  }
  #slider {
    position: relative;
    width: 40%;
    height: 30vw;
    margin: 50px auto;
    -webkit-perspective: 1400px;
            perspective: 1400px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  input[type=radio] {
    display: inline;
    position: relative;
    top: -15%;
    left: 35%;
    width: 18px;
    height: 18px;
    margin: 0 15px 0 0;
    opacity: 0.4;
    -webkit-transform: translateX(-83px);
            transform: translateX(-83px);
    cursor: pointer;
    padding-bottom: 50px;
  }
  input[type=radio]:checked {
    opacity: 1;
  }
  #slider label {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: -webkit-transform 400ms ease;
    transition: -webkit-transform 400ms ease;
    transition: transform 400ms ease;
    transition: transform 400ms ease, -webkit-transform 400ms ease;
  }
  iframe {
    width: 75%;
    height: 70%;
    border-radius: 5px;
  }
  #slide1 {
    background: #dfd9d7;
    border-radius: 5px;
  }
  #slide2 {
    background: #5D94B7;
    border-radius: 5px;
  }
  #slide3 {
    background: #dfd9d7;
    border-radius: 5px;
  }
  #slide4 {
    background: #5D94B7;
    border-radius: 5px;
  }
  #slide5 {
    background: #dfd9d7;
    border-radius: 5px;
  }
  #slide6 {
    background: #5D94B7;
    border-radius: 5px;
  }
  #slide7 {
    background: #dfd9d7;
    border-radius: 5px;
  }
  #slide8 {
    background: #5D94B7;
    border-radius: 5px;
  }
  /* Slider Functionality */
  /* Next Slide */
  #s1:checked ~ #slide2, #s2:checked ~ #slide3, #s3:checked ~ #slide4, #s4:checked ~ #slide5, #s5:checked ~ #slide6, #s6:checked ~ #slide7, #s7:checked ~ #slide8, #s8:checked ~ #slide1 {
    -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate3d(15%, 0, -100px);
            transform: translate3d(15%, 0, -100px);
  }
  /* Next to Next Slide */
  #s1:checked ~ #slide3, #s2:checked ~ #slide4, #s3:checked ~ #slide5, #s4:checked ~ #slide6, #s5:checked ~ #slide7, #s6:checked ~ #slide8, #s7:checked ~ #slide1, #s8:checked ~ #slide2 {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-transform: translate3d(30%, 0, -250px);
            transform: translate3d(30%, 0, -250px);
  }
  /* Next to Next to Next Slide */
  #s1:checked ~ #slide4, #s2:checked ~ #slide5, #s3:checked ~ #slide6, #s4:checked ~ #slide7, #s5:checked ~ #slide8, #s6:checked ~ #slide1, #s7:checked ~ #slide2, #s8:checked ~ #slide3 {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-transform: translate3d(45%, 0, -400px);
            transform: translate3d(45%, 0, -400px);
  }
  /* Next to Next to Next to Next Slide */
  #s1:checked ~ #slide5, #s2:checked ~ #slide6, #s3:checked ~ #slide7, #s4:checked ~ #slide8, #s5:checked ~ #slide1, #s6:checked ~ #slide2, #s7:checked ~ #slide3, #s8:checked ~ #slide4 {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-transform: translate3d(60%, 0, -750px);
            transform: translate3d(60%, 0, -750px);
    /* hidden; if not we would have 4 on one side instead of 3 */
  }
  /* Active Slide */
  #s1:checked ~ #slide1, #s2:checked ~ #slide2, #s3:checked ~ #slide3, #s4:checked ~ #slide4, #s5:checked ~ #slide5, #s6:checked ~ #slide6, #s7:checked ~ #slide7, #s8:checked ~ #slide8 {
    -webkit-box-shadow: 0 13px 26px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0, 0, 0, 0.2);
            box-shadow: 0 13px 26px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate3d(0%, 0, 0px);
            transform: translate3d(0%, 0, 0px);
  }
  /* Previous to Previous to Previous to Previous Slide - if additions */
  /* #s1:checked ~ #slide5, #s2:checked ~ #slide6, #s3:checked ~ #slide7, #s4:checked ~ #slide8, #s5:checked ~ #slide1, #s6:checked ~ #slide2, #s7:checked ~ #slide3, #s8:checked ~ #slide4  {
    box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
    transform: translate3d(-60%, 0, -550px);
  } */
  /* Previous to Previous to Previous Slide */
  #s1:checked ~ #slide6, #s2:checked ~ #slide7, #s3:checked ~ #slide8, #s4:checked ~ #slide1, #s5:checked ~ #slide2, #s6:checked ~ #slide3, #s7:checked ~ #slide4, #s8:checked ~ #slide5 {
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    -webkit-transform: translate3d(-45%, 0, -400px);
            transform: translate3d(-45%, 0, -400px);
  }
  /* Previous to Previous Slide */
  #s1:checked ~ #slide7, #s2:checked ~ #slide8, #s3:checked ~ #slide1, #s4:checked ~ #slide2, #s5:checked ~ #slide3, #s6:checked ~ #slide4, #s7:checked ~ #slide5, #s8:checked ~ #slide6 {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-transform: translate3d(-30%, 0, -250px);
            transform: translate3d(-30%, 0, -250px);
  }
  /* Previous Slide */
  #s1:checked ~ #slide8, #s2:checked ~ #slide1, #s3:checked ~ #slide2, #s4:checked ~ #slide3, #s5:checked ~ #slide4, #s6:checked ~ #slide5, #s7:checked ~ #slide6, #s8:checked ~ #slide7 {
    -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate3d(-15%, 0, -100px);
            transform: translate3d(-15%, 0, -100px);
  }
  .hidden-desktop {
    visibility: hidden;
    display: none;
  }
}

/* wide screen */
@media only screen and (min-width: 1441px) {
  ul {
    width: 600px;
    font-size: 2.125rem;
  }
  .page-header-text {
    margin-top: 50px;
  }
  .about-section {
    margin: 0px 400px 0px 400px;
  }
  .about-image {
    max-width: 100%;
  }
  #slider {
    position: relative;
    width: 40%;
    height: 30vw;
    margin: 100px auto;
    -webkit-perspective: 1400px;
            perspective: 1400px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  input[type=radio] {
    display: inline;
    position: relative;
    top: -15%;
    left: 35%;
    width: 18px;
    height: 18px;
    margin: 0 15px 0 0;
    opacity: 0.4;
    -webkit-transform: translateX(-83px);
            transform: translateX(-83px);
    cursor: pointer;
    padding-bottom: 50px;
  }
  input[type=radio]:checked {
    opacity: 1;
  }
  #slider label {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: -webkit-transform 400ms ease;
    transition: -webkit-transform 400ms ease;
    transition: transform 400ms ease;
    transition: transform 400ms ease, -webkit-transform 400ms ease;
  }
  iframe {
    width: 75%;
    height: 70%;
    border-radius: 5px;
  }
  #slide1 {
    background: #dfd9d7;
    border-radius: 5px;
  }
  #slide2 {
    background: #5D94B7;
    border-radius: 5px;
  }
  #slide3 {
    background: #dfd9d7;
    border-radius: 5px;
  }
  #slide4 {
    background: #5D94B7;
    border-radius: 5px;
  }
  #slide5 {
    background: #dfd9d7;
    border-radius: 5px;
  }
  #slide6 {
    background: #5D94B7;
    border-radius: 5px;
  }
  #slide7 {
    background: #dfd9d7;
    border-radius: 5px;
  }
  #slide8 {
    background: #5D94B7;
    border-radius: 5px;
  }
  /* Slider Functionality */
  /* Next Slide */
  #s1:checked ~ #slide2, #s2:checked ~ #slide3, #s3:checked ~ #slide4, #s4:checked ~ #slide5, #s5:checked ~ #slide6, #s6:checked ~ #slide7, #s7:checked ~ #slide8, #s8:checked ~ #slide1 {
    -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate3d(15%, 0, -100px);
            transform: translate3d(15%, 0, -100px);
  }
  /* Next to Next Slide */
  #s1:checked ~ #slide3, #s2:checked ~ #slide4, #s3:checked ~ #slide5, #s4:checked ~ #slide6, #s5:checked ~ #slide7, #s6:checked ~ #slide8, #s7:checked ~ #slide1, #s8:checked ~ #slide2 {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-transform: translate3d(30%, 0, -250px);
            transform: translate3d(30%, 0, -250px);
  }
  /* Next to Next to Next Slide */
  #s1:checked ~ #slide4, #s2:checked ~ #slide5, #s3:checked ~ #slide6, #s4:checked ~ #slide7, #s5:checked ~ #slide8, #s6:checked ~ #slide1, #s7:checked ~ #slide2, #s8:checked ~ #slide3 {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-transform: translate3d(45%, 0, -400px);
            transform: translate3d(45%, 0, -400px);
  }
  /* Next to Next to Next to Next Slide */
  #s1:checked ~ #slide5, #s2:checked ~ #slide6, #s3:checked ~ #slide7, #s4:checked ~ #slide8, #s5:checked ~ #slide1, #s6:checked ~ #slide2, #s7:checked ~ #slide3, #s8:checked ~ #slide4 {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-transform: translate3d(60%, 0, -750px);
            transform: translate3d(60%, 0, -750px);
    /* hidden; if not we would have 4 on one side instead of 3 */
  }
  /* Active Slide */
  #s1:checked ~ #slide1, #s2:checked ~ #slide2, #s3:checked ~ #slide3, #s4:checked ~ #slide4, #s5:checked ~ #slide5, #s6:checked ~ #slide6, #s7:checked ~ #slide7, #s8:checked ~ #slide8 {
    -webkit-box-shadow: 0 13px 26px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0, 0, 0, 0.2);
            box-shadow: 0 13px 26px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate3d(0%, 0, 0px);
            transform: translate3d(0%, 0, 0px);
  }
  /* Previous to Previous to Previous to Previous Slide - if additions */
  /* #s1:checked ~ #slide5, #s2:checked ~ #slide6, #s3:checked ~ #slide7, #s4:checked ~ #slide8, #s5:checked ~ #slide1, #s6:checked ~ #slide2, #s7:checked ~ #slide3, #s8:checked ~ #slide4  {
    box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
    transform: translate3d(-60%, 0, -550px);
  } */
  /* Previous to Previous to Previous Slide */
  #s1:checked ~ #slide6, #s2:checked ~ #slide7, #s3:checked ~ #slide8, #s4:checked ~ #slide1, #s5:checked ~ #slide2, #s6:checked ~ #slide3, #s7:checked ~ #slide4, #s8:checked ~ #slide5 {
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    -webkit-transform: translate3d(-45%, 0, -400px);
            transform: translate3d(-45%, 0, -400px);
  }
  /* Previous to Previous Slide */
  #s1:checked ~ #slide7, #s2:checked ~ #slide8, #s3:checked ~ #slide1, #s4:checked ~ #slide2, #s5:checked ~ #slide3, #s6:checked ~ #slide4, #s7:checked ~ #slide5, #s8:checked ~ #slide6 {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-transform: translate3d(-30%, 0, -250px);
            transform: translate3d(-30%, 0, -250px);
  }
  /* Previous Slide */
  #s1:checked ~ #slide8, #s2:checked ~ #slide1, #s3:checked ~ #slide2, #s4:checked ~ #slide3, #s5:checked ~ #slide4, #s6:checked ~ #slide5, #s7:checked ~ #slide6, #s8:checked ~ #slide7 {
    -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate3d(-15%, 0, -100px);
            transform: translate3d(-15%, 0, -100px);
  }
  .hidden-desktop {
    visibility: hidden;
    display: none;
  }
  .concerts-section {
    padding-right: 100px;
  }
  .upcoming-concerts-header {
    margin-top: 100px;
  }
  .hero-contact {
    height: 100vh;
  }
  .contact-area {
    padding-right: 260px;
  }
  form {
    padding: 30px;
  }
  .logo {
    margin-left: 100px;
  }
  ul {
    margin-right: 100px;
  }
  .logo, ul {
    margin-top: 50px;
  }
}
/*# sourceMappingURL=style.css.map */