@media only screen and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  // Cookie Policy

  .cookie-section {
    margin: 0px 30px 0px 30px;
  }

  // HOME page

  .hero {
    height: 100%;
    background-position: top center;
  }

  .logo {
    margin: 20px;
    font-size: 1.625rem;
  }

  .hero-area {
    height: 400px;
  }

  .hero-text {
    // margin-left: 60%; // same as on laptops
    margin-top: 15%;
  }

  h1 {
    font-size: 1.4375rem;
    margin-bottom: 0px;
  }

  h2 {
    font-size: 1.125rem;
  }

  ul {
    display: none;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.375rem;
  }

  ul.show {
    display: block;
  }

  nav ul li {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 60%;
  }

  .centered-li {
    margin-left: 37%;
  }

  footer {
    margin: 30px 50px 30px 50px;
    width: auto;
  }
  .brands-and-copyright {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }

  .brands {
    flex-flow: column wrap;
    align-items: center;
  }
  .copyright {
    font-size: 0.875rem;
    margin-top: 30px;
    text-align: center;
  }

  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: $primary-color-white;
    font-size: 1.875rem;
    margin: 20px;
    align-self: flex-start;
  }

  .hamburger:hover {
    color: $primary-color-dark;
  }

  .black {
    color: $primary-color-dark;
  }
  .black:hover {
    color: $hover-color;
  }

  // ABOUT page

  .about-section {
    flex-wrap: wrap;
    margin: 0px 30px 0px 30px;
  }

  .about-image {
    max-width: 70%;
  }

  .about-text {
    line-height: 1.46875rem;
    padding: 0px 120px 0px 120px;
  }

  .page-header-text {
    margin-top: 30px;
    font-size: 1.3125rem;
  }

  .bio-text {
    font-size: 0.875rem;
  }

  // MEDIA page

  .hero-media {
    height: 100%;
  }

  #slider {
    display: none;
    visibility: hidden;
  }

  .hidden-desktop {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 50px 0px;
  }

  iframe {
    width: 360px;
    height: 240px;
  }

  input[type="radio"] {
    visibility: hidden;
    display: none;
  }

  // CONCERTS page

  .hero-concerts {
    height: 100%;
    background-position: 40% 50%;
  }

  .concerts-section {
    padding-right: 20px;
  }

  .upcoming-concerts-header {
    text-align: right;
    font-size: 1.3125rem;
  }

  .upcoming-concerts-text {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
  // CONTACT page

  .hero-contact {
    height: 100%;
    background-position: 35% 10%;
  }

  .contact-section {
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 40px;
  }

  .contact-area {
    padding-right: 0%;
  }

  label p {
    font-size: 0.875rem;
  }

  form {
    padding-left: 0;
    width: 50%;
  }

  .contact-button {
    width: 50%;
  }
}
