$primary-color-white: white;
$primary-color-dark: black;
$youtube-color: #c4302b;
$facebook-color: #3b5998;
$email-color: #666564;
$hover-color: #f18c63;
$slide-odd-color: #dfd9d7;
$form-and-button-color: #f18c63;
$slide-even-color: #5D94B7;
$primary-color-white-darker: #dfd9d7;