$primary-color-white: white;
$primary-color-dark: black;
$youtube-color: #c4302b;
$facebook-color: #3b5998;
$email-color: #666564;
$hover-color: grey;
$slide-odd-color: #dfd9d7;
$form-and-button-color: #f5a98b;
$slide-even-color: #19397c;
$button-color: #f3411d;
$button-hover-color: #F59481;